<a href="https://colab.research.google.com/github/amanjaglan12/i_neuron_Assignments/blob/main/Assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Class_Assignment  01**

##Q.No.1 *Find out all the types of error that we have encountered in our lecture and why? Also include the examples.*

1. Uppercase and Lowercase are diffrent therefore use 'print' & not 'Print or 'PRINT' this causes a **`NameError`**: 'name' is not defined

In [29]:

PRINT("Good Evening")

NameError: ignored

In [30]:
Print("Good Evening")

NameError: ignored

In [42]:
print("Good Evening")

Good Evening

2. str is created by using " or ' else the code will get ERROR  
 example:   print(:Good Morning:), print(/Good Morning/) won't work

In [43]:
print('Single commas')
print("Double Comms only")

Single commas
Double Comms only

3. To print in multiple lines content needs to be written in-between triple commas """content of print"""

In [44]:
print("Good 
morning")

SyntaxError: ignored

In [46]:
print("""Multiple line
need Triple commas""")

Multiple line
need Triple commas

4. To use " or ' within the str either change the commas alternatively or use / or triple commas
  example:

In [47]:
print('This is 'SPARTA'')

SyntaxError: ignored

In [51]:
print("This is 'SPARTA'")
print('This is \'SPARTA\' ')
print('''This is 'SPARTA' ''') # Best Method since its the same as for writing multiple lines

This is 'SPARTA'
This is 'SPARTA'
This is 'SPARTA'

5. VARIABLES names do not conatain special character and can contain numbers but you can't start with numbers

    example !,@,#,%,$,&,*,12name

In [52]:
x* = 10

SyntaxError: ignored

In [53]:
%x = 10

UsageError: Line magic function `%x` not found.

In [54]:
$x = 10

SyntaxError: ignored

In [55]:
x%variable = 10

SyntaxError: ignored

In [59]:
x10 =100 #number in end so it worked
10ten = 10 #started with number so it failed. Error in line 2

SyntaxError: ignored

In [60]:
X 10 = 100 #variable name don't contain 'space' between them

SyntaxError: ignored

In [61]:
X10 = 100 #no space. hence working

6. Can only add str to str

In [73]:
"one"+2 
'1'+2 # although 1 is numerical but it's treated as str

TypeError: ignored

In [75]:
'one'+'2'

'one2'

In [72]:
45+56.5 # possible to link int and float

101.5

In [84]:
"AMAN" + " Jaglan"

'AMAN Jaglan'

7. Don't Use resticted words as variable names as they will loose their operation as functions

Example:

In [85]:
type = 78 #changend 'type' function to a variable
print(type)

78

In [86]:
one2 = 12
type(one2) # type has lost its function

TypeError: ignored

In [87]:
del type #deleted type as a variable

In [88]:
type(one2) # type working agian

int

##Q.No.2 *Take input A and B and print their sum, mul, div, square of the nos.*

In [91]:

A = int(input("Enter the First input ")) # confirm if the output is int and not str
B = int(input("Enter the Second input "))
type(A)
type(B) # Use print or output will only show the last

Enter the First input 45
Enter the Second input 75

int

In [92]:
A = int(input("Enter the First input: "))# make sure input is in int
B = int(input("Enter the Second input: "))
print(f"""Sum of Inputs is: {A+B}
Mul. of Inputs is: {A*B}
Div. of Inputs is: {A/B}
sq of Input A is: {A**2}
sq. of Input B is: {B**2}""")

Enter the First input: 21
Enter the Second input: 30
Sum of Inputs is: 51
Mul. of Inputs is: 630
Div. of Inputs is: 0.7
sq of Input A is: 441
sq. of Input B is: 900

##*Q.no.3 How many reserve keywords are there in python and why we should not use them as a variable name.*


> Answer--> There are 35 keywords in Python 3 latest version.                                                                 
     The Python language reserves a small set of keywords that designate special language functionality. No object can have the same name as a reserved word. We can find these reserved keywords using the command below.

In [ ]:
# find reserved keywords with the 'help("keywords")' command
res_keyword = help("keywords")
print(res_keyword)

In [ ]:
reserved_word = input("Entered the Word:  ")

print("""Details regarding the Keyword is :
--------------------------------""")
print(f"""{help(reserved_word)}""")

##*Q.No.4 Create email ids with the user inputs. in the following format - lastname.firstname@gmail.com*

In [9]:
firstname, lastname = input("Enter Your First Name:  "), input("Enter Your Last Name:  ")
print(f"""Your created e-mail id is:
{lastname}.{firstname}@gmail.com""")

Enter Your First Name:  Rocky
Enter Your Last Name:  Balboa
Your created e-mail id is:
Balboa.Rocky@gmail.com

##*Q.No.5 Try to print the following lines* - 
  - Hi I'm Sunny
  - My address is 22\3 
  - I earn 20$ daily.

In [ ]:
name = input("your Name  ")
address = input("House number  ")
wages = input("How much you earn  ")
print(f"""     Hi I'm {name}
     My address is {address}
     I earn {wages}$ daily """)

##Q.No.6 Take user input (name, address, date of birth etc) to fill a form for your college and print their email IDs

In [ ]:
Firstname = input("Student's Name: ")
Lastname = input("Student's LastName: ")
address = input("Student's Address: ")
date_of_birth_date = input("Student's BirthDate: ")
date_of_birth_month = input("Student's Birth month: ")
date_of_birth_year = input("Student's Birthyear: ")
print(f"""Student's College Enrollment Form Details:
Name: {Firstname} {Lastname}
ADDRESS: {address}
Date Of Birth: {date_of_birth_date}\ {date_of_birth_month}\ {date_of_birth_year}
Current age: {2022 - int(date_of_birth_year)}
E-Mail ID: {Lastname}.{Firstname}{date_of_birth_date}{date_of_birth_month}@gmail.com""")

##Q.No.7 Convert the following - 
  - "22.4" into integer
  - "22" into complex no.

In [16]:
# PArt 1
x = 22.4 # convert datatype from float to int   
print(f"""Datatype before was: {x} {type(x)}
Dataype after conversion is: {int(x)} {type(int(x))} """)

Datatype before was: 22.4 <class 'float'>
Dataype after conversion is: 22 <class 'int'>

In [21]:
# Part 2
y = 22
m = complex(y) # checked the conversion
print(f"""Initial Datatype:{y} which was {type(y)}
After Conversion it became {m} which is {type(m)}""")

Initial Datatype:22 which was <class 'int'>
After Conversion it became (22+0j) which is <class 'complex'>